
h1, h2, h3, h4, h5 ,h6{
    color: #6d6d6d;
    font-family: "raleway-regular", arial;
    letter-spacing: 1px;
}

h1              { font-size: 2em;}
h2              { font-size: 1.5em;}
h3              { font-size: 1.17em;}
h5              { font-size: .83em;}
h6              { font-size: .75em;}
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}

.container{
    width: 1100px;
    margin: 0 auto;
}





/*  header  */
header{
    width: 100%;
    height: 90px;
    background: #ffffff;
    position: relative;
}

header .logo{
    margin-top: 30px;
    float: left;
}

header nav{
    float: right;
    margin-top: 37px;
}

header nav ul li{
    list-style: none;
    float: left;
    margin-left: 45px;
}

header nav ul li a{
    text-decoration: none;
    color: #5e5d5d;
    font-family: "raleway-regular", arial;
    font-size: 14px;
    letter-spacing: .5px;

    transition:all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
}

header nav ul li a:hover,
header nav ul .selected{
    color: #ff4242;
}



/* intro */
.introduce{
	display: block;
	background-color: #FFF; 
	margin:auto;
}

.introduce p {
	margin:auto;
	text-align: center;
	font-family: Georgia, serif;
	margin-bottom: 2.5rem;
}

.introduce h2{
	margin:auto;
	text-align: center;
	font-family: Georgia, serif;
}

.gallery {
		width: 100%;
		margin: 2.5rem 0 2.5rem 0;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-align-items: stretch;
		-webkit-align-items: stretch;
		-ms-align-items: stretch;
		align-items: stretch;
		background-color: #FFF; 
	}

.part{
        text-align: center;
        width: 100%;
		margin: 3.5rem 0 2.5rem 0;
		background-color: #FFF; 
}

.image1 {
    float: left;
	background: #f0f0f0;		
    padding: 1rem;
    margin-top: 2px;
    margin-left: 30px;
}

.image2 {
    float: right;
	background: #f0f0f0;		
    padding: 1rem;
    margin-top: 2px;
    margin-right: 30px;
}


.image img {
    
    align-content: center;
	border-radius: 2px;
	display: block;
    max-width: 80%;
	max-height: 80%;
    margin: 2.5% 0 0 2.5%;
}



/*  footer  */
footer{
	height: 100px;
	background: #E3E3E3;
}

footer .copyright{
    width: 333px;
    height: auto;
    margin-right: 50px;
    float: right;
}


footer .copyright p{
    color: #8d8b8b;
    font-family: "raleway-regular", arial;
    font-size: 20px;
    letter-spacing: .5px;
    margin-bottom: 15px;
}

footer .copyright p a{
    text-decoration: none;
    font-family: "raleway-bold", arial;
    font-weight: bold;
    color: #8d8b8b;
}






