<div style="text-align:center">
  <h1>
    Crater Lake National Park
  </h1>

  <img 
    src="/public/img/information/CraterLake.jpg" alt="" 
    style="width:500px;height:350px;" />
</div>

<div id="bodyContent">
  <p>Crater Lake National Park is an American national park located in southern Oregon. Established in 1902, Crater Lake
    is the fifth-oldest national park in the United States and the only national park in Oregon.[3] The park encompasses
    the caldera of Crater Lake, a remnant of a destroyed volcano, Mount Mazama, and the surrounding hills and forests.
  </p>

  <p>The lake is 1,949 feet (594 m) deep at its deepest point,[4] which makes it the deepest lake in the United States,
    the second-deepest in North America and the ninth-deepest in the world.[4] Crater Lake is often referred to as the
    seventh-deepest lake in the world, but this former listing excludes the approximately 3,000-foot (910 m) depth of
    subglacial Lake Vostok in Antarctica, which resides under nearly 13,000 feet (4,000 m) of ice, and the recent report
    of a 2,740-foot (840 m) maximum depth for Lake O'Higgins/San Martin, located on the border of Chile and Argentina.
    However, when comparing its average depth of 1,148 feet (350 m) to the average depth of other deep lakes, Crater
    Lake becomes the deepest in the Western Hemisphere and the third-deepest in the world. The impressive average depth
    of this volcanic lake is due to the nearly symmetrical 4,000-foot-deep (1,200 m) caldera formed 7,700 years ago
    during the violent climactic eruptions and subsequent collapse of Mount Mazama and the relatively moist climate that
    is typical of the crest of the Cascade Range.</p>

  <p>The caldera rim ranges in elevation from 7,000 to 8,000 feet (2,100 to 2,400 m). The United States Geological
    Survey benchmarked elevation of the lake surface is 6,178 feet (1,883 m). The national park encompasses 183,224
    acres (286.3 sq mi; 741.5 km2).[1] Crater Lake has no streams flowing into or out of it. All water that enters the
    lake is eventually lost from evaporation or subsurface seepage. The lake's water commonly has a striking blue hue,
    and the lake is refilled entirely from direct precipitation in the form of snow and rain.</p>

  <p>There are many hiking trails and several campgrounds inside the park. Unlicensed fishing is allowed without any
    limitation of size, species, or number. The lake is believed to have no indigenous fish, but several species of fish
    were introduced beginning in 1888 until all fish stocking ended in 1941. Kokanee salmon (Oncorhynchus nerka) and
    rainbow trout (Oncorhynchus mykiss) now thrive and reproduce here naturally.[18] Swimming is allowed in the lake,
    and the boat tours, which stop at Wizard Island, a cinder cone inside the lake, operate daily during the summer. All
    lake access for people is from Cleetwood Trail, a steep walking trail, and there are no roads for cars, trucks, or
    wagons that lead to the waterfront. All of the boats in the lake were delivered by helicopter</p>

  <p>The highest point in Crater Lake National Park is Mount Scott at 8,929 feet (2,722 m). Getting there requires a
    fairly steep 2.5-mile (4.0 km) hike from the Rim Drive trailhead. On a clear day, visibility from the summit exceeds
    100 miles (160 km), and one can, in a single view, take in the entire caldera. Also visible from this point are the
    white-peaked Cascade Range volcanoes to the north, the Columbia River Plateau to the east, and the Western Cascades
    and the more-distant Klamath Mountains to the west.</p>

  <div id="sourse">sourse: from WIKIPIDIA</div>

  <div id="contactInfo">
    </br>
    Mailing Address:</br>
    PO Box 577</br>
    Klamath County, Oregon, United States</br>
    </br>
    Phone:</br>
    (209) 372-0200</br>
  </div>
</div>