<div class="row justify-content-md-center" style="margin-top: 100px">
	<div class="container">

		<div style="text-align:center">
		  <h1>
			Death Valley National Park
		  </h1>
			<img src="/public/img/information/DeathValley.jpg" alt="" style="width:500px;height:350px;" />
		</div>

		<div id="weatherInfo">
			<weather zip="92328">
				<h5>Current Weather</h5>
				<ul>
				<li>Park: <span id = "parkName"></span></li>
				<li><span id = "weather"></span></li>
				<li>Temperature: <span id = "temperature"></span></li>
				<li>Humidity: <span id = "humidity"></span></li>
				</ul>
			</weather>
		</div>

		<div id="bodyContent">
		  <p>Death Valley is a desert valley located in Eastern California, in the northern Mojave Desert bordering the Great
			Basin Desert. It is one of the hottest places in the world along with deserts in the Middle East.</p>

		  <p>Death Valley's Badwater Basin is the point of the lowest elevation in North America, at 282 feet (86 m) below sea
			level.This point is 84.6 miles (136.2 km) east-southeast of Mount Whitney, the highest point in the contiguous
			United States, with an elevation of 14,505 feet (4,421 m).On the afternoon of July 10, 1913, the United States
			Weather Bureau recorded a high temperature of 134 °F (56.7 °C) at Furnace Creek in Death Valley. This temperature
			stands as the highest ambient air temperature ever recorded at the surface of the Earth.</p>

		  <p>Located near the border of California and Nevada, in the Great Basin, east of the Sierra Nevada mountains, Death
			Valley constitutes much of Death Valley National Park and is the principal feature of the Mojave and Colorado
			Deserts Biosphere Reserve. It is located mostly in Inyo County, California. It runs from north to south between the
			Amargosa Range on the east and the Panamint Range on the west; the Grapevine Mountains and the Owlshead Mountains
			form its northern and southern boundaries, respectively. It has an area of about 3,000 sq mi (7,800 km2).The highest
			point in Death Valley itself is Telescope Peak in the Panamint Range, which has an elevation of 11,043 feet (3,366m)</p>

		  <p>Death Valley is an example of a graben, or a downdropped block of land between two mountain ranges.[10] It lies at
			the southern end of a geological trough known as Walker Lane, which runs north to Oregon. The valley is bisected by
			a right lateral strike slip fault system, represented by the Death Valley Fault and the Furnace Creek Fault. The
			eastern end of the left lateral Garlock Fault intersects the Death Valley Fault. Furnace Creek and the Amargosa
			River flow through the valley but eventually disappear into the sands of the valley floor.</p>

		  <p>Death Valley is extremely dry because it sits in the rain shadow of four major mountain ranges (including the
			Sierra Nevada and Panamint Range). Moisture moving inland from the Pacific Ocean must pass eastward over multiple
			mountains to reach Death Valley; as air masses are forced upwards by each range, the air cools and moisture
			condenses to fall as rain or snow on the western slopes. When the air masses ultimately reach Death Valley, most of
			the moisture has already been "squeezed out" and there is little left to fall as precipitation.</p>

		  <div id="sourse">sourse: from WIKIPIDIA</div>

		  <div id="contactInfo">
			</br>
			Mailing Address:</br>
			PO Box 577</br>
			Death Valley, CA</br>
			</br>
			Phone:</br>
			(209) 372-0200</br>
		  </div>
		</div>
	</div>
</div>

<script src="/public/parkinfo.js"></script>
