<div class="row justify-content-md-center" style="margin-top: 100px">
    <div class="container">
		
		<div class="introduce">
			<h2>National Park</h2>
			<p class="special">All the information is here</p>
		</div>
		<div class="gallery">
			<div class= "part">
				<div class="image1">
					<a href="/yellowstone_info"><img src="/public/img/information/Yellowstone.jpg" alt="" style="width:500px;height:300px;object-fit:cover"/></a>
				</div>
				<div class="image2">
					<a href="/yosemite_info"><img src="/public/img/information/Yosemite.jpg" alt="" style="width:500px;height:300px;object-fit:cover"/></a>
				</div>
			</div>
			<div class= "part">
				<div class="image1">
					<a href="#"><img src="/public/img/information/f2.jpg" alt="" style="width:500px;height:300px;object-fit:cover"/></a>
				</div>
				<div class="image2">
					<a href="#"><img src="/public/img/information/f4.jpg" alt="" style="width:500px;height:300px;object-fit:cover"/></a>
				</div>
			</div>

		</div>
		
    </div>
</div>