
<div class="row justify-content-md-center" style="margin-top: 100px">
    <div class="col-md-6">

        <h2 class="text-uppercase font-weight-bold text-center">Welcome back to GoPark!</h2>
		
		<h4 class="text-center">Let's stay in touch. Subscribe today!</h4>
		
		<div class="row text-center" style="display:flex; flex-wrap:wrap;">
			<div class="col-lg-12">
				<div class="thumbnail">
					<form action="/newsSubscription" method="POST"  style="margin-top: 30px">
						<input type="hidden" name="id" value={{user.id}}>
						<i class="fas fa-envelope-open-text fa-4x"></i>
						<p>NEWS</p>
						{{#if user.subscription.news }}
							<input type="hidden" name="subscription[news]" value="false">
							<input type="submit" class="btn btn-dark" value="UnSubscribe">

						{{else}}
							<input type="hidden" name="subscription[news]" value="true">
							<input type="submit" class="btn btn-dark" value="Subscribe">

						{{/if}}
					</form>
				</div>
			</div>
			
			<div class="col-lg-12">
				<div class="thumbnail">
					<form action="/eventsSubscription" method="POST"  style="margin-top: 30px">
						<input type="hidden" name="id" value={{user.id}}>
						<div>
							<i class="fas fa-hiking fa-4x"></i>
							<p>EVENTS</p>
							{{#if user.subscription.events }}
								<input type="hidden" name="subscription[events]" value="false">
								<input type="submit" class="btn btn-dark" value="UnSubscribe">

							{{else}}
								<input type="hidden" name="subscription[events]" value="true">
								<input type="submit" class="btn btn-dark" value="Subscribe">

							{{/if}}
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</div>
</div>