h1, h2, h3, h4, h5 ,h6{
    color: #6d6d6d;
    font-family: "raleway-regular", arial;
    letter-spacing: 1px;
}

h1              { font-size: 2em;}
h2              { font-size: 1.5em;}
h3              { font-size: 1.17em;}
h5              { font-size: .83em;}
h6              { font-size: .75em;}
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}

.container{
    width: 1100px;
    margin: 0 auto;
}





/*  header  */
header{
    width: 100%;
    height: 90px;
    background: #ffffff;
    position: relative;
}

header .logo{
    margin-top: 30px;
    float: left;
}

header nav{
    float: right;
    margin-top: 37px;
}

header nav ul li{
    list-style: none;
    float: left;
    margin-left: 45px;
}

header nav ul li a{
    text-decoration: none;
    color: #5e5d5d;
    font-family: "raleway-regular", arial;
    font-size: 14px;
    letter-spacing: .5px;

    transition:all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
}

header nav ul li a:hover,
header nav ul .selected{
    color: #ff4242;
}


/* intro */
.intro{
    margin: auto;
}
 
 .picture img{
    width: 200x;
    height: 400px;
    text-align: center;
	display: table-cell;
	vertical-align: middle;

 }


.connect{
    width: 333px;
    text-align: center;
    height: auto;
    margin: auto;
}

.connect p{
    color: #8d8b8b;
    font-family: "raleway-regular", arial;
    font-size: 20px;
    letter-spacing: .5px;
    text-align: center;
}

.facebook{
    text-align: center;
    width: 333px;
    height: auto;
    margin: auto;
}



.place{
    text-align: center;
}

ul {
    list-style-position: inside;
    color: #6d6d6d;
    font-family: "raleway-regular", arial;
    letter-spacing: 1px;

} 

/* scroll box */
.scroll-box {
    margin-top: 35px;
    background: #f4f4f4;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 200px; /* maximum height of the box, feel free to change this! */
    padding: 15px;
    overflow-y: scroll;
}

.scroll-box p{
    text-align: center;
    color: #8d8b8b;
    font-family: "raleway-regular", arial;
    font-size: 20px;
    letter-spacing: .5px;
    margin-bottom: 15px;
}

.space{
    height: 50px; 
}




/*  footer  */
footer{
	height: 100px;
	background: #E3E3E3;
}

footer .copyright{
    width: 333px;
    height: auto;
    margin-right: 50px;
    float: right;
}


footer .copyright p{
    color: #8d8b8b;
    font-family: "raleway-regular", arial;
    font-size: 20px;
    letter-spacing: .5px;
    margin-bottom: 15px;
}

footer .copyright p a{
    text-decoration: none;
    font-family: "raleway-bold", arial;
    font-weight: bold;
    color: #8d8b8b;
}